.login-error {
    color: #ffa300;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.border-error{
    border-bottom:solid 1px #ffa300 !important;
}

.main-login {
    margin: auto;
    width: 355px;
    height: 73ch;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: static;
}

.main-login-input {
    margin: 10px;

}
.main-login-input input {
    width: 114%;
    font-size: 18px;
    padding:5px 0px 5px 0px;
    display:block;
    border:none;
    border-bottom:solid 1px snow;
    background: #175c7d;
    color: snow;
    line-height: 1.5;
    text-align: left;
}

.main-login-input img {
    position: absolute;
    margin-left: -35px;
    margin-top: 8px;
}

.main-login-input input:focus{
    outline:none;
}

.main-login-button {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.main-login-button button {
    border-radius: 25.5px;
    background-color: #ffa300;
    color: white-color;
    border: 1px solid #ffa300;
    height: 50px;
    width: 90%;
    font-size: 18px;
    color: snow !important;
    font-weight: bold;
}

.main-login-button button:focus {
    outline: none;
}
.main-login-button button:active {
    opacity: 0.9;
}
.copyright {
    font-size: 12px !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

::placeholder {
    color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}
