<app-navbar></app-navbar>

<div class="register-title">
  <span>Preencha os seus dados</span>
</div>


<!--<div class="main-register">-->

  <mat-card class="shadow-lg register-mat">

      <form [formGroup]="form" (ngSubmit)="onSubmit()" >

        <table class="example-full-width">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input
                  required
                  type="text"
                  matInput
                  placeholder="Nome"
                  name="pesNome"
                  id="pesNome"
                  formControlName="pesNome"
                  autocomplete="off"
                  style="width: 350px;"
                />
                <mat-error *ngIf="form.get('pesNome').invalid && form.get('pesNome').touched">
                  O Campo é Obrigatório
                </mat-error>

              </mat-form-field>
            </td>

            <td>
              <mat-form-field class="example-full-width">

                <mat-label>Sobrenome</mat-label>
                <input
                  required
                  type="text"
                  matInput
                  placeholder="Sobrenome"
                  name="pesUltNome"
                  id="pesUltNome"
                  formControlName="pesUltNome"
                  autocomplete="off"
                  style="width: 350px;"
                />

                <mat-error *ngIf="form.get('pesUltNome').invalid && form.get('pesUltNome').touched">
                  O Campo é Obrigatório
                </mat-error>

              </mat-form-field>
            </td>

          </tr>
          <tr>
            <td>
              <mat-form-field>

                <mat-label>CPF</mat-label>
                <input
                  mask="000.000.000-00"
                  required
                  type="text"
                  matInput
                  placeholder="CPF"
                  name="pesCpf"
                  id="pesCpf"
                  formControlName="pesCpf"
                  autocomplete="off"
                  style="width: 200px;"
                />

                <mat-error *ngIf="form.get('pesCpf').invalid && form.get('pesCpf').touched">
                  O Campo é Obrigatório
                </mat-error>

              </mat-form-field>

            </td>

            <td>
              <mat-form-field>

                <mat-label>Celular</mat-label>
                <input
                  required
                  mask="(00) 00000-0000"
                  type="text"
                  matInput
                  placeholder="Celular"
                  name="telefone"
                  id="telefone"
                  formControlName="telefone"
                  autocomplete="off"
                  style="width: 200px;"
                />

                <mat-error *ngIf="form.get('telefone').invalid && form.get('telefone').touched">
                  O Campo é Obrigatório
                </mat-error>

              </mat-form-field>

            </td>

            <td>
              <mat-form-field>

                <mat-label>Email</mat-label>
                <input
                  required
                  type="email"
                  matInput
                  placeholder="Email"
                  name="email"
                  id="email"
                  formControlName="email"
                  autocomplete="off"
                  style="width: 300px;"
                />

                <mat-error *ngIf="form.get('email').invalid && form.get('email').touched && form.get('email').value == '' ">
                  O Campo é Obrigatório
                </mat-error>

                <mat-error *ngIf="form.get('email').invalid && form.get('email').value !== '' ">
                  O e-mail informado é Invalido
                </mat-error>

              </mat-form-field>

            </td>

          </tr>
          <tr>
            <td>
              <mat-form-field>

                <mat-label>Senha</mat-label>
                <input
                  required
                  type="password"
                  matInput
                  placeholder="Senha"
                  name="pesSenha"
                  id="pesSenha"
                  formControlName="pesSenha"
                  autocomplete="off"
                  style="width: 300px;"
                />

                <mat-error *ngIf="form.get('pesSenha').invalid && form.get('pesSenha').touched">
                  O Campo é Obrigatório
                </mat-error>

              </mat-form-field>

            </td>

            <td>
              <mat-form-field>

                <mat-label>Confirmar Senha</mat-label>
                <input
                  required
                  type="password"
                  validateEqual="pesSenha"
                  matInput
                  placeholder="Confirmar Senha"
                  name="pesConfSenha"
                  id="pesConfSenha"
                  formControlName="pesConfSenha"
                  autocomplete="off"
                  style="width: 300px;"
                />

                <mat-error *ngIf="form.get('pesConfSenha').invalid && form.get('pesConfSenha').touched && form.get('pesConfSenha').value == '' " >
                  O Campo é Obrigatório
                </mat-error>

                <mat-error *ngIf="form.get('pesConfSenha').errors?.MatchPassword && form.get('pesConfSenha').value !== ''" >
                  As senhas não coincidem
                </mat-error>

              </mat-form-field>

            </td>

          </tr>

        </table>

        <br>

        <div class="main-login-button" *ngIf="form.valid">
          <button type="submit" >
            Cadastrar
          </button>
        </div>

        <div class="main-button-disable" *ngIf="form.invalid">
          <button type="submit" [disabled]="form.invalid" >
            Cadastrar
          </button>
        </div>

      </form>

  </mat-card>

  <footer style="color: #175c7d;padding: 10px;">
    Copytight &copy; Lost & Found 2020
  </footer>

<!--</div>-->

